(function(window) {
  window.env = window.env || {};

  window["env"]["buildNumber"] = "${BUILD_NUMBER}";
  window["env"]["commitHash"] = "${GIT_COMMIT}";
  window["env"]["buildTimeEpoch"] = "${BUILD_TIME}";
})(this);